body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: var(--theme) !important;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.post-content a:hover, div.social-icons a {
    box-shadow: none;
}

.post-content ul {
    margin-left: 10px;
}

div.social-icons a:hover {
    box-shadow: 0 1px;
}

div.post-meta span.lastmod, footer.entry-footer span.lastmod {
    color: #aaa;
}

div.post-content a.badgelink {
    border: 1px solid var(--tertiary);
    padding: 1px 4px 1px 4px;
    align-items: center;
    border-radius: 4px;
    box-shadow: none;
}

div.post-content a.badgelink:hover {
    border: 1px solid var(--theme);
}

div.post-content a.badgelink img {
    display: inline-flex;
    height: auto;
    margin: 0 4px 0 0;
}

div.investments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

div.investments-container div.investment {
    flex: 1 1 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--border);
    background: var(--entry);
}

div.investments-container div.defunct-investment {
    background: inherit;
}

div.investments-container div.investment div.exit span a {
    color: rgba(219, 31, 72, 0.88);
    font-size: 1.2em;
    box-shadow: none;
}

div.investments-container div.investment div.exit span a:hover {
    box-shadow: 0 1px;
}

div.investments-container div.investment div.exit {
    margin-top: 30px;
}

div.investment div.investment-logo {
    width: 100%;
}

div.investment div.investment-logo img {
    width: 60px;
    margin: auto;    
}
